#blured span a img{transition:0.5s;height:100px; width:100px;border-radius:100px;}
#blured span a img:hover{filter: grayscale(0%) blur(0px);transition: 0.3s;height:500px; width:100%;}
#blured h2{font-size:180px; color: rgb(0, 0, 0);text-align:center;transition:0.5s;height:100%;padding-top:200px;}
#blured h2:hover{font-size:0px;transition:0.5s;padding-bottom:100px;}